html, body {
    height: 100%;
    margin: 0;
    background: url("../img/dark-grey-tile.png") repeat fixed;
    font-robotofont-family: 'RobotoDraft', sans-serif;
}
.container {
    width: 90% !important;
    margin: auto;
    padding: auto;
}
@media (min-width: 481px) {
    #tabs {
        width: 200px;
    }
    .container {
      width: 400px;
    }
}
core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
core-header-panel::shadow div {
    background: #191919;
    color: #DBDBDB;
}
core-toolbar {
    background: #191919;
    background-color: #191919;
    color: #DBDBDB;
}
core-scaffold::shadow core-toolbar {
    background: #191919;
    color: #DBDBDB;
}
core-scaffold::shadow core-header-panel {
    background: url("../img/dark-grey-tile.png") repeat fixed;
    color: #DBDBDB;
}
#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#navheader {
    background: #191919;
    background-color: #191919;
    color: #DBDBDB;
}
