html, body {
    height: 100%;
    margin: 0;
    background: url("../img/dark-grey-tile.png") repeat fixed;
    font-family: 'RobotoDraft', sans-serif;
}
.container {
    width: 400px;
    margin: auto;
    padding: auto;
}
@media all and (min-width: 481px) {
    .container {
        width: 90%;
    }
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 6;
}
core-header-panel::shadow div {
    background: #191919;
    color: #DBDBDB;
}
core-toolbar {
    background: #191919;
    background-color: #191919;
    color: #DBDBDB;
}
core-scaffold::shadow core-toolbar {
    background: #191919;
    color: #DBDBDB;
}
core-scaffold::shadow core-header-panel {
    background: url("../img/dark-grey-tile.png") repeat fixed;
    color: #DBDBDB;
}
#navheader {
    background: #191919;
    background-color: #191919;
    color: #DBDBDB;
}
